<html>
    <head>
        <link rel="stylesheet" href="basic.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">
                <img class="logo" src="dxtx.png" alt="DxTx" />
                </div></a>
            <ul class="pure-menu-list">
            </ul>
        </div>
    </head>
    <body>
        <div class ="vis_container">
            <div class="pure-u-1">
                Look at this!
            </div>
        </div>
        <div class="grid_container">
            <div class="item pure-u-1">
                <form class="pure-form">
                    </div>
                    <table width="100%" class="form-make pure-table pure-table-bordered">
                        <thead>
                            <td>Question</td>
                            <td>Type</td>
                            <td>Validation</td>
                            <td>Default</td>
                        </thead>
                        <tbody>
                            <tr class="form-q">
                                <td><input type="text" placeholder="Question"></td>
                                <td><input type="text" placeholder="Type"> </td>
                                <td><input type="text" placeholder="Validation"></td>
                                <td><input type="text" placeholder="Default"></td>
                            </tr>
                            <tr class="form-q">
                                <td><input type="text" placeholder="Question"></td>
                                <td><input type="text" placeholder="Type"> </td>
                                <td><input type="text" placeholder="Validation"></td>
                                <td><input type="text" placeholder="Default"></td>
                            </form>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" class="pure-button pure-button-primary">Add Question</button>
                    <button type="submit" class="pure-button pure-button-primary">Submit Form</button>
                </div>
            </div>
        </div>
    </body>
    <footer>
        footer - thick
    </footer>
</html>
