<html ng-app="dxtx">
    <head>
        <title>DxTx - Diagnosis Treatment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="basic.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <script data-require="d3@3.5.3" data-semver="3.5.3" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">
                <img class="logo" src="dxtx.png" alt="DxTx" />
                </div></a>
            <ul class="pure-menu-list">
            </ul>
        </div>
    </head>
    <body>

        <div class="grid_container">
        <div class="pure-g">
          <div class="item pure-u-1" id="vis_container">
          </div>
            <div class="item pure-u-1 pure-u-lg-1-2">
                <div class="box_item">
                    <div class="boxname">My Reminders</div>
                    <div class="box_content">
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Physicians</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Patients</td>
                                    <td>Due: 10/16/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Metrics</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Physicians</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Patients</td>
                                    <td>Due: 10/16/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Metrics</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Physicians</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Patients</td>
                                    <td>Due: 10/16/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Metrics</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Physicians</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Patients</td>
                                    <td>Due: 10/16/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Add new Metrics</td>
                                    <td>Due: 10/1/2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item pure-u-1 pure-u-lg-1-2">
                <div class="box_item">
                    <div class="boxname">My Metrics</div>
                    <div class="box_content">
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Punctuality</td>
                                    <td>75% (+0.5%)</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Kindness</td>
                                    <td>85% (+5.5%)</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Flu Rate</td>
                                    <td>5% (-5.1%)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item pure-u-1 pure-u-lg-1-2">
                <div class="box_item">
                    <div class="boxname">My Patients</div>
                    <div class="box_content">
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Alice Alices</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Bob Bobs</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Cat Person</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Alice Alices</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Bob Bobs</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Cat Person</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Alice Alices</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Bob Bobs</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Cat Person</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Alice Alices</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Bob Bobs</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Cat Person</td>
                                    <td>Due: 10/10/2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item pure-u-1 pure-u-lg-1-2">
                <div class="box_item">
                    <div class="boxname">My Charts</div>
                    <div class="box_content">
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Intake</td>
                                    <td>Modified: 04/04/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Diagnosis</td>
                                    <td>Modified: 04/04/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="card-item pure-table pure-table-bordered">
                            <tbody>
                                <tr>
                                    <td>Feedback</td>
                                    <td>Modified: 04/04/2017</td>
                                </tr>
                            </tbody>
                        </table>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        footer - thick
    </footer>
    <script src="vis.js"></script>
</html>
