<html ng-app="dxtx">
  <head>
    <title>DxTx - Diagnosis Treatment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../dxtx_controllers.js"></script>
    <script src="../dxtx_services.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script data-require="d3@3.5.3" data-semver="3.5.3" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <div class="pure-menu pure-menu-horizontal">
      <a href="#" class="pure-menu-heading">
      <img class="logo" src="dxtx.png" alt="DxTx" />
      </a>
      <div class="right_buttons menu_buttons">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </div>
    </div>
  </head>
  <body>
    <div class="grid_container">
    <div class="pure-g">
      <div class="item pure-u-1" id="vis_container" ng-controller="Visualization">
      </div>
      <div class="item pure-u-1 pure-u-lg-1-2">
        <div class="box_item" ng-controller="Reminder">
          <div class="boxname">
            My Reminders
            <div class="right_buttons">
              <i onclick="document.getElementById('alert_search').setAttribute('style', '');" class="fa fa-search" aria-hidden="true">
              </i>
              <div class="spacer"></div>
              <i onclick="alert('expand');" class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
          <input class="box_search" id="alert_search" style="display:none;" type="text" ng-model="search"></input>
          <div class="box_content">
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Physicians</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Patients</td>
                  <td>Due: 10/16/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Metrics</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Physicians</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Patients</td>
                  <td>Due: 10/16/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Metrics</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Physicians</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Patients</td>
                  <td>Due: 10/16/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Metrics</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Physicians</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Patients</td>
                  <td>Due: 10/16/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Add new Metrics</td>
                  <td>Due: 10/1/2017</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="item pure-u-1 pure-u-lg-1-2">
        <div class="box_item">
          <div class="boxname">
            My Metrics
            <div class="right_buttons">
              <i onclick="document.getElementById('metric_search').setAttribute('style', '');"
                class="fa fa-search" aria-hidden="true">
              </i>
              <div class="spacer"></div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
          <input class="box_search" id="metric_search" style="display:none;" type="text" ng-model="search"></input>
          <div class="box_content">
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Punctuality</td>
                  <td>75% (+0.5%)</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Kindness</td>
                  <td>85% (+5.5%)</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Flu Rate</td>
                  <td>5% (-5.1%)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="item pure-u-1 pure-u-lg-1-2">
        <div class="box_item" ng-controller="Patients">
          <div class="boxname">
            My Patients
            <div class="right_buttons">
              <i onclick="document.getElementById('patient_search').setAttribute('style', '');"
                class="fa fa-search" aria-hidden="true">
              </i>
              <div class="spacer"></div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
            <input class="box_search" id="patient_search" style="display:none;" type="text" ng-model="search"></input>
          <div class="box_content">
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Alice Alices</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Bob Bobs</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Cat Person</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Alice Alices</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Bob Bobs</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Cat Person</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Alice Alices</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Bob Bobs</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Cat Person</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Alice Alices</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Bob Bobs</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Cat Person</td>
                  <td>Due: 10/10/2017</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="item pure-u-1 pure-u-lg-1-2">
        <div class="box_item" ng-controller="Charts">
          <div class="boxname">
            My Charts
            <div class="right_buttons">
              <i onclick="document.getElementById('chart_search').setAttribute('style', '');"
                class="fa fa-search" aria-hidden="true">
              </i>
              <div class="spacer"></div>
              <i class="fa fa-expand" aria-hidden="true"></i>
            </div>
          </div>
              <input class="box_search" id="chart_search" style="display:none;" type="text" ng-model="search"></input>
            </div>
          <div class="box_content">
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Intake</td>
                  <td>Modified: 04/04/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Diagnosis</td>
                  <td>Modified: 04/04/2017</td>
                </tr>
              </tbody>
            </table>
            <table width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>Feedback</td>
                  <td>Modified: 04/04/2017</td>
                </tr>
              </tbody>
            </table>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    footer - thick
  </footer>
  <script src="vis.js"></script>
</html>
