<html>
  <link rel="stylesheet" href="dxtx_main.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">

   <header>
      logo
      login
   </header>
   <body>
      <content>
        <visualization>
          get visualization
        </visualization>
          <div class="pure-g">
            <div class="item pure-u-1 pure-u-md-2-5 " id='remind'>something
              <div class="gridcontent">
                <button id="expand_box_name" style="display:block;">Expand</button>
                <button id="expand_box_name" style="display:none;">Contract</button>
              </div>
            </div>
            <div class="item pure-u-1 pure-u-md-2-5" id='info'>something
              <div class="gridcontent">
                <button id="expand_box_name" style="display:block;">Expand</button>
                <button id="expand_box_name" style="display:none;">Contract</button>
              </div>
            </div>
            <div class="item pure-u-1 pure-u-md-2-5" id='patients'>something
              <div class="gridcontent">
                <button id="expand_box_name" style="display:block;">Expand</button>
                <button id="expand_box_name" style="display:none;">Contract</button>
              </div>
            </div>
            <div class="item pure-u-1 pure-u-md-2-5" id='charts'>something
              <div class="gridcontent">
                <button id="expand_box_name" style="display:block;">Expand</button>
                <button id="expand_box_name" style="display:none;">Contract</button>
              </div>
            </div>
            </div>
          </div>


        <script>
        // they'll expand later
        </script>
      </content>
   </body>
   <footer>
      <info>Ryan Birmingham 2017</info>
   </footer>
</html>
