<html>
   use pure css for now
   <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
   <header>
      <div class="pure-menu pure-menu-horizontal">
         <a href="#" class="pure-menu-heading pure-menu-link">DxTx</a>
         <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Login</a></li>
         </ul>
      </div>
   </header>
   <body>
      <content>
      </content>
   </body>
   <footer>
      <info>Ryan Birmingham 2017</info>
   </footer>
</html>
