body {
    background-color: #FFFDFD;
}

.expanded_background {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.2);
}

.expanded {
  margin: 10% auto;
  padding: 10px;
  border: 2px solid #FFF;
  width: 80%;
}

.homegrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 35% 35%;
  color: #CBD2D0;
}

.item {
  border-radius: 10px;
  padding: 20px;
  background-color: #CBD2D0;
  overflow: scroll;
}

.remind {
    grid-column: 1;
    grid-row: 1;
}
.info {
    grid-column: 2 ;
    grid-row: 1;
}
.patients {
    grid-column: 1 ;
    grid-row: 2 / 4 ;
}
.charts {
    grid-column: 2;
    grid-row: 2;
}

.care {
    grid-column: 2;
    grid-row: 3;
}
