body {
    background-color: #FFFDFD;
}

.visualization {
  height: 20%;
}

.expanded_background {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.2);
}

.expanded {
  margin: 10% auto;
  border: 2px solid #FFF;
  width: 80%;
}

.item {
  border-radius: 10px;
  padding: 20px;
  height: 25%;
  min-height: 200px;
  margin: 10px;
  overflow: auto;
  background-color: #CBD2D0;
}
