<visualization>
  get visualization
</visualization>
<grid>
  <div class="homegrid">
    <div class="item remind" id='remind'>something
      <button id="expand_box_name" style="display:block;">Expand</button>
      <button id="expand_box_name" style="display:none;">Contract</button>
    </div>
    <div class="item info" id='info'>something
      <button id="expand_box_name" style="display:block;">Expand</button>
      <button id="expand_box_name" style="display:none;">Contract</button>
    </div>
    <div class="item patients" id='patients'>something
      <button id="expand_box_name" style="display:block;">Expand</button>
      <button id="expand_box_name" style="display:none;">Contract</button>
    </div>
    <div class="item charts" id='charts'>something
      <button id="expand_box_name" style="display:block;">Expand</button>
      <button id="expand_box_name" style="display:none;">Contract</button>
    </div>
    <div class="item care" id='charts'>something
      <button id="expand_box_name" style="display:block;">Expand</button>
      <button id="expand_box_name" style="display:none;">Contract</button>
    </div>
  </div>
</grid>


<script>
// they'll expand later
</script>
