body {
    background-color: #FFFDFD;
}

.pure-menu-horizontal{
  height: 75px;
}

.pure-menu {
    box-shadow: 0 3px 3px rgba(0,0,0, 0.50);
}

.grid_container{
  padding-left: 10%;
  padding-right: 10%;
  align: center;
}

.item{
  border: 1px solid #ddd;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
}

.item {
  padding: 20px;
  height: 25%;
  min-height: 200px;
  margin: 10px;
  overflow: auto;
  background-color: #CBD2D0;
}
